
input,select{border: 1px solid #e9ebed;height: 24px!important;}
input:focus{box-shadow: none}
section{border: 1px solid #f0f2f3;border-radius: 3px;background: #fff;margin-bottom: 10px}

.head-slide{font-size: 12px;color: #999;padding:0 15px 15px;display: flex;flex-wrap: wrap}
.head-slide-item{display: flex;align-items: center;margin-right: 40px;margin-top: 15px}
.head-slide-item .u_img{width: 30px;border-radius: 50%;margin-right: 17px;}
.head-slide-item > span{margin-right: 12px;}
.head-slide-item > div{display: flex;align-items: center;margin-right: 8px;}
.slide-span span{border: 1px solid #e9ebed;padding: 0 8px;color: #666;margin-left: -1px;height: 24px;line-height: 23px;cursor: pointer}
.slide-span span.active{background: #367ef2;border-color: #367ef2;color: #fff;}
.slide-input{position: relative}
.slide-input:after{content: "";display: block;width: 14px;height: 14px;background: url("../images/time.png")no-repeat center;background-size: contain;position: absolute;right: 10px;}
.slide-select{line-height: 15px}
.w-128{width: 128px;}
/* 省市选择 */
#city{padding: 5px 28px 4px 10px;border: 1px solid #e9ebed;}
._citys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative;background: #fff;box-shadow: 0 7px 18px #c3cdd4;}
._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer; }
._citys0 { width: 100%; height: 34px; display: inline-block; border-bottom: 2px solid #56b4f8; padding: 0; margin: 0; }
._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
.citySel { background-color: #56b4f8; color: #fff !important; }
._citys1 { width: 100%; display: flex; padding: 10px 0;flex-wrap: wrap;}
._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-right: 5px; margin-top: 5px; line-height: 35px; text-align: center; cursor: pointer; font-size: 13px; overflow: hidden; }
._citys1 a:nth-child(5n){margin-right: 0}
._citys1 a:hover { color: #fff; background-color: #56b4f8; }
.AreaS { background-color: #56b4f8 !important; color: #fff !important; }
/* 省市选择 */

.num-view{display: flex;padding: 19px 0;}
.num-view li{font-size: 14px;color: #999;flex-grow: 1;text-align: center;border-right: 1px solid #d1d1d1;transition: linear .2s;display: flex;justify-content: center;align-items: center}
.num-view li:last-child{border-right: none;}
.num-view li > div{text-align: left}
.num-view li p i{width: 14px;height: 14px;margin: -2px 0 -2px 8px}
.num-view li span{font-size: 24px;color: #333;line-height: 24px;display: inline-block}
.num-view  .view-item{display: flex;align-items: center;background: #d9f4ff;padding: 10px;border-radius: 3px;margin-left: 20px;}
.num-view  .view-item > div{padding: 0 10px}
.num-view  .view-item > div.line{border-left: 1px dashed #bbb;margin-left: 20px}
.num-view  .view-item em{width: 0;height: 0;border-width: 10px;border-style: solid;border-color: transparent #d9f4ff transparent transparent;margin-left: -30px;margin-right: 10px;}
.num-view  .view-item p{color: #888}
.double-chart{display: flex;background: #f4f5f7;}
.double-chart > div{background: #fff;position: relative;flex-grow: 1}
.charts{border: 1px solid #ecedee}
.charts-tit{position: absolute;top:14px;left:15px;z-index: 99;font-size: 14px;color: #666;border-left: 3px solid #367ef2;line-height: 12px;padding-left: 8px;width: 100%;display: flex;align-items: center}
.charts-tit i{width: 14px;height: 14px;margin-left: 8px}
.nav-radio{border-bottom: 1px solid #ecedee;background: #f8f8f9;padding: 8px 15px;display: flex;font-size: 12px;}
.nav-radio li{margin-right: 8px}
.nav-radio li a{color: #666;padding: 4px 9px;border-radius: 24px;}
.nav-radio li.active a,.nav-radio li.active a:focus,.nav-radio li.active a:hover{background: #367ef2;color: #fff}
.charts-list{display: flex!important;justify-content: space-between;padding: 0 10px}
.nav-sibling{display: flex;align-items: center;}
.nav-sibling .nav-radio{flex-grow: 1;background: #fff;border-bottom: none;padding: 15px}
.nav-sibling .tab_content{width: auto}
.nav-sibling .tab_type_l{padding: 0!important;}
/* 分享来源下的顶部块 */
.num-view-many li > div{display: block;text-align: center;width: 100%;}
.num-view-many li ul{display: flex;margin-top: 10px;border-top: 1px solid #eee;padding: 8px 0px;}
.num-view-many li span{margin-top: 8px;}


.table-content{padding: 15px}
.table-content .table_cont i{width: 13px;height: 13px;margin: 0px 0 -2px 3px}
.table-content .table_cont table{border: 1px solid #f0f2f3;}
.table-content .table_cont thead{background: #f8f8f9;border-bottom: 1px solid #f0f2f3;font-size: 12px;}
.table-content .table_cont tbody tr{border-bottom: 1px solid #f0f2f3;height: 40px;}
.table-content .table_cont tbody tr td.cz_btn{height: 40px}
.table-content .tab_content{padding: 0;}
.table-content .tab_type_l{padding: 0 0 16px}
.table-content .btm_page{padding: 15px 0 10px}
.table-content .table_cont td.cover-pic img{width: 30px;height: 30px}
.table-content .nav-sibling{padding-bottom: 16px}
.table-content .nav-sibling .nav-radio{padding: 0}
.tab-content-24 .table-content{padding: 24px 24px 18px}

.align-items{display:flex;align-items: center}
.charts-table{display: flex;align-items: flex-end;padding-bottom: 17px;padding-top: 60px}

.tab-tips{color: #b2b2b2;font-size: 12px;padding: 0 24px}

