
body,html{width:100%;height: 100%}
img{vertical-align:top;border:0;max-width: 100%;}
body{background: #f4f5f7;padding: 15px;}

/* 商城菜单配置 */
.scpz-top{display: flex;align-items: center;justify-content: space-between}
.scpz-top p{margin-bottom: 0}
.scpz-btn{background: linear-gradient(to bottom,#ffb868,#f80);color: #fff;border: none;height: 36px;line-height: 34px;padding: 0 22px;font-size: 16px;margin-left: 10px;transition: all .3s;border-radius: 5px;letter-spacing: 1px;white-space: nowrap;cursor: pointer;outline: 0;margin-right: 6px;display: inline-block;}
.scpz-body{margin-top: 30px;display: flex;height: 94%;position: relative;}
.scpz-body .activity_set{border-radius: 12px;margin-bottom: 10px;}

.scpz-body-l{width: 20%;min-width: 368px;margin-right: 30px;height: max-content;position: relative}
.scpz-body-r{width: 80%;overflow: auto;position: relative;}

/*  */
.fixed-flex{display: flex;flex-wrap: wrap;flex-direction: row;justify-content: flex-start;align-items: center;min-height: 100%;align-content: space-between;box-sizing: border-box;position: relative;}
.fixed-flex-box{display: flex;flex-flow: column nowrap;justify-content: flex-start;box-sizing: border-box;position: relative}
.fixed-flex>div{width: 100%;}


.content{height: 100%;display: flex;flex-direction: column;}
.scroll-cont{overflow-x: hidden;overflow-y: scroll;position: relative;flex: 1;z-index: 1;display: list-item;list-style-type: none;}
.scroll-cont::-webkit-scrollbar {width: 0 !important;-ms-overflow-style: none;overflow: -moz-scrollbars-none;}


/* 左侧区域 */
#page_title{position: absolute;white-space: nowrap;top: 110px;left: 50%;transform: translateX(-50%);font-size: 15px;font-weight: bold;max-width: 240px;overflow: hidden;text-overflow: ellipsis;}
.scpz-body-l .box-cont{position: absolute;top: 18.7%;left: 6.5%;right: 6.7%;bottom: 11%;overflow-x: hidden;overflow-y: auto;z-index: 1;transition: all linear .1s;}
.scpz-body-l .box-cont::-webkit-scrollbar,.setBox .setList_cont::-webkit-scrollbar,.scpz-body-r::-webkit-scrollbar{/*滚动条整体样式*/width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/height: 4px;padding: 0 2px;}
.scpz-body-l .box-cont::-webkit-scrollbar-thumb,.setBox .setList_cont::-webkit-scrollbar-thumb,.scpz-body-r::-webkit-scrollbar-thumb{/*滚动条里面小方块*/border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: rgba(0,0,0,0.2);}
.scpz-body-l .box-cont::-webkit-scrollbar-track,.setBox .setList_cont::-webkit-scrollbar-track,.scpz-body-r::-webkit-scrollbar-track{/*滚动条里面轨道*/-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 0;background: rgba(0,0,0,0.1);}
.scpz-body-l .box-cont::-webkit-scrollbar-thumb:hover,.setBox .setList_cont::-webkit-scrollbar-thumb:hover,.scpz-body-r::-webkit-scrollbar-thumb:hover{background: rgba(0,0,0,0.5);}
.zdyContent{height: 80px;line-height: 80px;text-align: center;background: #ddd;display: none}
.zdy-btn {font-size: 12px;color: rgb(0, 129, 138);border: 1px solid rgb(0, 129, 138);margin-left: 8px;border-radius: 4px;width: 88px;line-height: 22px;background: rgb(255, 255, 255);text-align: center;cursor: pointer;transition: all linear .1s;display: none}
.zdy-btn:hover{background: rgb(0, 129, 138);color: #fff;}
.set-user{height: 24px;min-height: 24px;line-height: 22px;font-size: 12px;margin-left: 8px;}
.opcity span,.opcity input,.opcity button{filter: opacity(0.8)!important;}

/* 右侧区域 */
.fl-settins{font-size: 14px;color: #333;background: #fff;border-radius: 12px;padding: 10px;margin-bottom: 10px;}
.settins-item{border-bottom: 1px solid #f3f3f3;padding: 10px 0;}
.settins-item:hover{background: rgba(0,129,138,0.05)}
.settins-item .item-list{display: flex;align-items: center;padding: 8px 0;}
.settins-item .item-list > span{display: inline-block;width: 120px;min-width: 120px;text-align: center;cursor: pointer;}
.settins-item .item-list > span.del{color: #ff3d3d}
.settins-item .item-list > span.prev{color: #00818a}
.settins-item .item-list > span.next{color: #00818a}
.settins-item .item-list > span.disab{color: #999;cursor: no-drop}
.settins-item .list-cont{display: flex;align-items: center;white-space: nowrap;flex: 1;}
.settins-item .list-cont .txtL{font-size: 14px;color: #333;display: inline-block;margin-right: 16px;min-width: 80px;white-space: nowrap;text-align: right}
.settins-item .list-cont input{margin-right: 16px;}
.settins-item .list-text{width: 216px;display: flex;align-items: center;}
.settins-item .list-text input{font-size: 12px;}
.settins-item .list-text .slide-select{flex: 1;min-width: 120px;}
.dub-list-text .select-cont{width: 120px;}
.dub-list-text input{margin-right: 8px;}
.fl-btn{font-size: 12px;color: #00818a;border: 1px solid #00818a;border-radius: 4px;min-width: 64px;padding: 0 16px;line-height: 30px;background: #fff;text-align: center;cursor: pointer;margin-right: 8px;}
.fl-btn.del{color: #fff;border-color: #ff3d3d;background-color: #ff3d3d;}
.fl-btn.add{color: #fff;border-color: #00818a;background-color: #00818a;}
.settins-item a {color: #3983C0;}
.settins-item .select-text {margin-right: 8px;}
.zypz_cont{}
.zypz_cont .list-cont:not(:last-child){margin-bottom: 10px;}
.settins-item .zypz_floor{align-items: flex-start}
.settins-item .zypz_floor .next{margin-top: 7px;}

.scpz-save-btn,.scpz-save-btn2,.scpz-save-btn3{font-size: 14px;color: #fff;display: inline-block;border-radius: 4px;min-width: 84px;height: 36px;line-height: 36px;text-align: center;cursor: pointer;opacity: .8;padding: 0 10px;margin-right: 10px;position: relative;overflow: hidden;}
.scpz-save-btn:hover,.scpz-save-btn2:hover,.scpz-save-btn3:hover{opacity: 1;}
.scpz-save-btn{background: #00818a;}
.scpz-save-btn2{background: #06c15f;}
.scpz-save-btn3{background: #fe5213;}


.setBox{background: #fff;padding: 10px;border-radius: 12px;margin-bottom: 10px;}
.setBox .set_list{display: flex;align-items: center;padding: 20px 0;}
.setBox .set_list:hover{background: rgba(0,129,138,0.05)}
.setBox .set_list:not(:last-child){border-bottom: 1px solid rgb(243, 243, 243);}
.setBox .setList_num{width: 120px;min-width: 120px;text-align: center;}
.setBox .setList_cont{flex: 1;}
.setBox .setList_cont .item1{flex: 1;display: flex;align-items: center;padding: 10px 0;}
.setBox .setList_cont .item1 .txtL{font-size: 14px;color: #333;display: inline-block;margin-right: 16px;min-width: 80px;white-space: nowrap;text-align: right}
.setBox .setList_cont .zdy-btn {font-size: 12px;color: rgb(0, 129, 138);border: 1px solid rgb(0, 129, 138);margin-left: 8px;border-radius: 4px;width: 88px;line-height: 22px;background: rgb(255, 255, 255);text-align: center;cursor: pointer;transition: all linear .1s;display: none}
.setBox .setList_cont .zdy-btn:hover{background: rgb(0, 129, 138);color: #fff;}
.setBox .set_save{padding: 30px 120px;}

/* 预览 */
.model{position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 99;}
.mark{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,.7);}
#pvw{}
#pvw .content{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 9;background: #fff;padding: 15px;text-align: center;width: 300px;height: auto;}
#pvw .content img{width: 260px;box-shadow: 0 0 1px 1px #eee;padding: 15px;}
#pvw .content .cont-msg{color: #333;margin-top: 15px;display: flex;align-items: center;}
#pvw .content .cont-msg input{flex: 1;}
#pvw .content .cont-msg span{height: 32px;line-height: 32px;background: #f7b116;color: #fff;padding: 0 10px;margin-left: 10px;border-radius: 2px;}
.pvw{background: transparent}


/* 自定义内容 */
.index_cont2{background: #fff;padding: 14px 0;margin-top: 9px;position: relative;}
.index_cont2 .tit{font-size: 15px;color: #333;font-weight: bold;padding: 3px 10px 6px;}
.index_cont2.type2{border-radius: 9px;margin: -165px 10px 0;}

.swiper-container{width: 100%}
.goods-swiper .swiper-pagination-bullet{width: 4px;height: 4px;border-radius: 50%;background: #000;opacity: .2;}
.goods-swiper .swiper-pagination-bullet-active {background: #ff5923;width: 10px;border-radius: 4px;opacity: 1}
.goods-swiper .swiper-pagination{bottom: 4px;}

.top-nav{display: flex;align-items: center;padding: 0 10px 0 18px;}
.find_nav {font-size: initial;width: 100%;}
.find_nav .find_nav_left {min-height: 39px;position: relative;overflow: hidden;}
.top-nav .find_nav .find_nav_left {height: 39px;border-bottom: 0;}
.find_nav .find_nav_list {position: absolute;left: 0;height: 100%;}
.find_nav .find_nav_list ul{display: flex;align-items: flex-start;position: relative;white-space: nowrap;height: 100%;}
.find_nav .find_nav_list ul li {display: inline-block;padding: 0;height: 100%;position: relative;cursor: pointer;margin-right: 14px;}
.top-nav .find_nav .find_nav_list li.active {margin-right: 21px;}
.find_nav .find_nav_list ul li a {display: flex;align-items: center;font-size: 11px;color: #666;height: 100%;}
.top-nav .find_nav .find_nav_list li.active a {font-size: 14px;color: #ff5923;font-weight: bold;position: relative;}
.top-nav .fl-icon {width: 14px;min-width: 14px;height: 14px;display: inline-block;margin-left: 12px;background: url(../images/3.png) no-repeat center/contain;}

.spList{display: flex;justify-content: space-between;flex-wrap: wrap;padding: 0 7px;}
.spList .cont_tit {font-size: 16px;color: #333;font-weight: bold;padding: 7px 0;width: 100%;}
.spList .list_item {padding: 3px;width: 50%;}
.spList.spList_type2 {padding: 5px 10px;}
.spList.spList_type2 .list_item {width: 100%;padding: 5px 0;}



@media (min-width: 980px){

}
@media (min-width: 1200px){

}