.contBlock{background: #fff;padding: 24px;margin-bottom: 16px;}
.contBlock .msg{display: flex;align-items: center;justify-content: space-between;}
.contBlock .msg .msgL{display: flex;align-items: center;font-size: 24px;color: #333;}
.contBlock .msg .msgL > i{font-size: 20px;color: #f80;margin-right: 8px;margin-top: 4px;}
.contBlock .msg .msgL .icons{margin-left: 10px;}
.contBlock .msg .msgL .icons i{cursor: pointer;margin-right: 4px}
.contBlock .msg .msgR{cursor: pointer;}
.contBlock .msg .msgR i{color: #f00;font-weight: bold;margin-right: 10px;}
.contBlock .txt{font-size: 14px;color: #888;margin: 15px 0 0;}



.headForm{display: flex;align-items: center;justify-content: space-between;font-size: 14px;color: #333;line-height: 40px;padding: 10px 20px;box-shadow: 0 2px 6px #f8f8f8;position: sticky;top: 0;background: #fff;z-index: 2;}
.headForm .layui-form-radio{margin-top: 0}
.headForm .layui-form-radio i{padding: 0 2px;}
.headForm div span{margin-right: 10px;}

.layui-form{background: #fff;flex: 1;overflow: auto;}


#treeOrganContainer{background: #fff;overflow: auto}

/* 树形菜单样式 开始*/
.layui-tree {
	line-height: 40px;
	padding: 10px 20px;
}


.layui-tree-line .layui-tree-pack {
	padding-left: 30px;
}

.layui-tree .layui-tree-entry {
	height: 40px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.layui-tree-icon,
.layui-tree-iconClick {
	width: 16px;
	height: 16px;
	line-height: 12px;
	margin: 0 14px 0 0;
	background: #8A94A6;
	border: 1px solid #8A94A6;
	text-align: center;
}

.layui-tree-icon .layui-icon,
.layui-tree-iconClick .layui-icon {
	font-size: 12px;
	color: #fff;
}

.layui-tree .layui-icon-file:before {
	content: "\e67e";
}

.layui-tree .layui-tree-txt {
	font-size: 16px;
	color: #0A1F44;
	font-weight: 500;
}

/* hover样式 */
.layui-tree-line .layui-tree-entry:hover {
	background: linear-gradient(90deg, #F7F8FA 0%, #F7F8FA 50%, #F7F8FA 100%);
}

.layui-tree-line .layui-tree-entry:hover .layui-tree-txt {
	color: #0A1F44;
	text-decoration: none;
}

/* 连接线 开始 */
.layui-tree-line .layui-tree-set.layui-tree-setHide:before {
	height: auto;
}

.layui-tree-line .layui-tree-set::before {
	height: auto;
	top: 0px;
	left: 7px;
	bottom: -15px;
	border-color: rgba(166, 174, 188, 0.4);
	z-index: 1;
}

.layui-tree-line .layui-tree-set:first-child::before {
	top: 20px;
}

.layui-tree-line .layui-tree-set:last-child::before {
	height: 20px;
}

.layui-tree-line .layui-tree-set:only-child::before {
	display: none;
}

/* 横线不显示 */
.layui-tree-line .layui-tree-set .layui-tree-set:after {
	display: none;
}
/* 连接线结束 */

.layui-tree-btnGroup {
	visibility: visible;
}

/* 树形菜单操作按钮样式 */
.layui-btn-group.layui-tree-btnGroup .layui-btn {
	background-color: transparent;
	color: #333;
	border-radius: 6px;
	height: auto;
	line-height: normal;
	padding: 0;
	font-size: 12px;
	margin: 0!important;
	min-width: 60px;
	border: none;
}

/* 树形菜单样式 结束*/





